<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woori.dao.CareDAO">

<insert id="newCare" parameterType="com.woori.entity.Tb_care">
INSERT INTO tb_care
    (pet_idx, 
    pet_alergy, 
    pet_food, 
    pet_disease, 
    pet_etc)
VALUES
    (#{pet_idx}, 
    #{pet_alergy}, 
    #{pet_food}, 
    #{pet_disease}, 
    #{pet_etc}) 
    </insert>

<select id="petCare" resultType="com.woori.entity.Tb_care">
select *
from tb_care
where pet_idx = #{idx}
</select>

<delete id="deleteCare">
delete from tb_care
where PET_IDX = #{idx}
</delete>

<update id="updateCare" parameterType="com.woori.entity.Tb_care">
UPDATE tb_care
SET 
    pet_alergy = #{pet_alergy}, 
    pet_food = #{pet_food}, 
    pet_disease = #{pet_disease}, 
    pet_etc = #{pet_etc}
WHERE pet_idx = #{pet_idx}
</update>

</mapper>
