<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woori.dao.PetDAO">

    <!-- 새로운 반려견 정보를 저장하는 매퍼 -->
    <insert id="newPet" parameterType="com.woori.entity.Tb_pet">
    INSERT INTO tb_pet (pet_name, pet_birthdate, pet_weight, pet_gender, adopted_at, pet_img1, pet_img2, pet_img3, login_email)
    VALUES (#{pet_name}, #{pet_birthdate}, #{pet_weight}, #{pet_gender}, #{adopted_at}, 
            #{pet_img1,jdbcType=VARCHAR}, #{pet_img2,jdbcType=VARCHAR}, #{pet_img3,jdbcType=VARCHAR}, #{login_email})
</insert>

    <!-- 특정 사용자의 반려견 목록을 조회하는 매퍼 -->
    <select id="myPet" parameterType="com.woori.entity.Tb_login" resultType="com.woori.entity.Tb_pet">
        SELECT *
        FROM tb_pet
        WHERE login_email = #{login_email}
    </select>
    
    <select id="myOnePet" parameterType="com.woori.entity.Tb_pet" resultType="com.woori.entity.Tb_pet">
        SELECT *
        FROM tb_pet
        WHERE login_email = #{login_email} and pet_name=#{pet_name}
    </select>
	
	<delete id="deletePet" parameterType="com.woori.entity.Tb_pet">
	delete from tb_pet
	where login_email=#{login_email} and pet_name=#{pet_name}
	</delete>
	
	<update id="updatePet">
UPDATE tb_pet
SET
    pet_name = #{pet_name}, 
    pet_birthdate = #{pet_birthdate}, 
    pet_weight = #{pet_weight}, 
    pet_gender = #{pet_gender}, 
    adopted_at = #{adopted_at}, 
    pet_img1 =  #{pet_img1,jdbcType=VARCHAR}, 
    pet_img2 =  #{pet_img2,jdbcType=VARCHAR}, 
    pet_img3 =  #{pet_img3,jdbcType=VARCHAR}
WHERE pet_idx = #{pet_idx}
	</update>
	
</mapper>
