<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woori.dao.PetMapper">

	<insert id="join" parameterType="com.woori.entity.Tb_pet">
		INSERT INTO tb_pet
		(pet_name,
		pet_birthdate,
		pet_weight,
		pet_gender,
		adopted_at,
		pet_img1,
		pet_img2,
		pet_img3,
		login_email)
		VALUES
		(#{pet_name},
		#{pet_birthdate},
		#{pet_weight},
		#{pet_gender},
		sysdate,
		#{pet_img1},
		#{pet_img2},
		#{pet_img3},
		#{login_email});
	</insert>

	<update id="update" parameterType="com.woori.entity.Tb_pet">
		UPDATE tb_pet
		SET
		pet_name = #{pet_name},
		pet_birthdate = #{pet_birthdate},
		pet_weight = #{pet_weight} ,
		pet_gender = #{pet_gender},
		pet_img1 = #{pet_img1},
		pet_img2 = #{pet_img2},
		pet_img3 = #{pet_img3},
		login_email = #{login_email}
		WHERE pet_idx = #{pet_idx};
	</update>

	<delete id="delete">
	DELETE FROM tb_pet
	WHERE pet_idx = #{pet_idx};
	</delete>

</mapper>